
$datatable-head-bg: lighten($primary, 30%) !default;
$datatable-head-color: $black !default;
$datatable-body-border: $primary !default;
$datatable-head-cell-padding: 8px;
$datatable-body-cell-padding: 6px;

.datatable
{
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    border: 1px solid $datatable-body-border;

    line-height: 1.43;

    .datatable-body
    {
        display: table-row-group;
    }
    .datatable-head-cell
    {
        padding: $datatable-head-cell-padding;
    }
    .datatable-body-cell
    {
        padding: $datatable-body-cell-padding;
    }
    .datatable-body-row, .datatable-head-row
    {
        color: inherit;
        display: table-row;
        outline: 0;
        vertical-align: middle;
    }
    .datatable-head-cell, .datatable-body-cell
    {
        display: table-cell;
        text-align: left;
        border-bottom: 1px solid $datatable-body-border;
        vertical-align: inherit;
        position: relative;
    
        &:not(:last-child)
        {
            border-right: 1px solid $datatable-body-border;
        }
    }

    .datatable-body-row
    {
        &:hover
        {
            background-color: rgba(0, 0, 0, 0.07);
        }
    }

    .datatable-head
    {
        display: table-row-group;

        background: $datatable-head-bg;
        color: $datatable-head-color;
    }

    &.datatable-align-right
    {
        .datatable-body-cell, .datatable-head-cell
        {
            text-align: right;
        }
    }
    &.datatable-align-center
    {
        .datatable-body-cell, .datatable-head-cell
        {
            text-align: center;
        }
    }
}
